@font-face {
    font-family: "phigros";
    src: url(./cmdysj.ttf);
}

body, html {
    font-family: "phigros";
    color: white;
    margin: 0;
    height: 100%
}

#main {
    display: grid;
    grid-template-rows: 2em 5fr 5fr;
    grid-template-columns: 6fr 4fr;
    height: 100%;
    width: 100%;
    gap: 4px;
    background-color: #444;
    padding: 4px;
    box-sizing: border-box;
}

#main > div {
    background-color: #666
}

#topbar {
    grid-column: 1 / 3;
}

#preview {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#preview {
    display: grid;
    grid-template-columns: auto auto;
}

#itemInfo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#eventSequence {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#lineInfo {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#player {
    text-align: center;
}

.judge-line-editor {
    display: grid;
    grid-template-rows: 1em auto;
    grid-template-columns: 2em repeat(4, 2em 4em);
    gap: 4px;
    background-color: #999;
    border-radius: 6px;
}

.judgeline-info-id {
    grid-row: 1 / 3;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judgeline-info-name {
    grid-column: 2 / span 8;
    font-size: large;
}

.judge-line-editor-selected {
    background-color: #4499aa;
}

.side-editor {
    display: flex;
    flex-direction: column;
}

.side-editor .side-editor-title {
    background-color: #777;
    color: #EEE;
    font-size: 150%;
    padding: 0.2em 1em;
}

.side-editor .side-editor-body {
    flex: 1;
    display: grid;
    padding: 3em 2em;
    grid-template-columns: 3fr 7fr;
}






.input-box {
    border-radius: 0;
    text-align: center;
}

.fraction-input {
    background-color: #ddd;
    padding: 2px;
    gap: 2px;
    display: grid;
    grid-template-rows: 1.5em 2px 1.5em;
    grid-template-columns: 2em 2em;
    margin: auto
}

.fraction-input .input-box.integer {
    grid-row: 1 / 4;
}

.fraction-input .line {
    background-color: black;
}
